.PostContainer-display {
  text-align: center;
  margin-bottom: 1em;
}

.PostContainer-img {
  max-width: 100%;
  height: auto;
}

.PostContainer-comments {
  text-align: center;
}

.PostContainer-subdisplay {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
