.PostCard-main {
  min-width: 20px;
  max-width: 300px;
  padding-top: 1em;
}

.PostCard-img {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.PostCard-stats {
  text-align: center;
}
