.PostCard-main {
  width: 200px;
  padding-top: 1em;
  margin-bottom: 1em;
  color: #888;
  text-decoration: none !important;
}

.PostCard-main:hover {
  transform: scale(1.2);
  transition: transform 0.4s ease-in-out;
}

.PostCard-img {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 1rem;
  margin-bottom: 0.2rem;
}

.PostCard-stats {
  display: flex;
  width: 120px;
  margin: 0 auto;
  margin-top: 0.5em;
  padding: 0.5em 1em;
  justify-content: space-around;
  align-items: space-around;
  border: 1px double #888;
  border-radius: 0.8em;
}

.PostCard-stat {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.PostCard-number {
  color: #888;
  font-size: 0.8em;
  margin-left: 0.25em;
}
