.YoutubeContainer-wrapper {
  position: relative;
  padding-bottom: 56.25%;
}

.YoutubeContainer-wrapper iframe,
.YoutubeContainer-wrapper object,
.YoutubeContainer-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
