.ProfileInfo{
  background-color: white;
  padding: 1em 0;
  padding-left: 1em;
  margin-bottom: 1em;
}

.ProfileInfo-row {
  display: flex;
  align-items: flex-end;
  margin: 1em auto;
}

.ProfileInfo-span {
  margin-left: 0.3em;
}
