body {
  margin: 0;
  padding: 0;
  background: #FFF9F9;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

/*
  Form selectors
 */

form {
  max-width: 50%;
  margin: 0 auto;
}

.field {
  margin: 0.6em 0;
}

.field.has-errors {
  color: red;
}

.field-error {
  font-size: 0.9em;
  color: red;
}

.form-errors {
  list-style: none;
  text-align: center;
  color: red;
  font-size: 0.9em;
  font-weight: bold;
}

.form-message {
  text-align: center;
}

.form-errors li {
  margin-bottom: 0.2em;
}

label {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  margin-bottom: 0.3em;
}

input[type="text"],
input[type="password"],
textarea {
  background-color: #FAFAFA;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border-radius: 0.3em;
  border: solid 5px #380331;
  box-shadow: inset 0 0 0 1px #6d1cba;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  width: 75%;
}
input[type="submit"]:disabled {
  background-color: gray;
  color: lightgray;
  cursor: default;
}

/*
  Element classes
*/

.header {
  color: #6d1cba;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 1.5em;
  background: #6d1cba;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover,
.button:active {
  background: #591999;
  transition: background-color 0.2s ease;
  text-decoration: none;
  cursor: pointer;
}

/*
  Misc classes
 */

.centered {
  text-align: center;
}

.divider {
  display: block;
  width: 100%;
  text-align: center;
  margin: 1em 0;
}

.full-width {
  width: 100%;
}

.section-border {
  border: 2px double #6d1cba;
}
