.Nav {
  font-weight: 600;
  font-size: 0.85em;
}

.Nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 0.3em;
}

.Nav ul li {
  margin-left: 1em;
}

.Nav ul li button {
  background: none;
  border: none;
  color: inherit;
  font-weight: inherit;
  padding-left: 0;
  cursor: pointer;
}

.Nav ul li button:hover,
.Nav ul li button:active {
  color: #619668;
  transition: color 0.2s ease;
}

@media (max-width: 640px) {
  .Nav {
    display: none;
  }

  .Nav.Nav-is-toggled {
    display: block;
  }

  .Nav ul {
    display: block;
    margin: 0.5em 0;
    padding: 0;
  }

  .Nav ul li {
    margin: 0;
    margin-left: 0.5em;
    margin-bottom: 0.25em;
  }
}
