.Nav {

}

.Nav ul {
  list-style: none;
  display: flex;
  margin-right: 0.3em;
}

.Nav ul li {
  font-weight: bold;
  font-size: 0.85em;
  margin-left: 1rem;
}

.Nav ul li button {
  background: none;
  border: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
}

@media (max-width: 640px) {
  .Nav {
    display: none;
  }

  .Nav.Nav-is-toggled {
    display: block;
  }

  .Nav ul {
    display: block;
    margin: 0.5em 0;
    padding: 0;
  }

  .Nav ul li {
    margin: 0;
    margin-left: 0.5em;
    margin-bottom: 0.25em;
  }
}
