.PostDetails {
  margin: 0 auto;
  margin-bottom: 1em;
  width: 75%;
  min-width: 300px;
  padding: 1em;
  background: white;
}

.PostDetails-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PostDetails-creator-info {
  margin-top: 0.5em;
  font-size: 0.9em;
  font-weight: lighter;
}

.PostDetails-creator-info a {
  color: #6d1cba;
  text-decoration: none;
}

.PostDetails-description {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
}
.PostDetails-description p {
  display: inline-block;
  text-align: left;
}
